
{% extends 'base.html' %}
{% block body %}

    <div class="section">
        <h2>Сброс пароля</h2>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% else %}
            <p>
                Забыли пароль? Введите свой адрес электронной почты ниже и мы отправим ва инструкции по установке нового пароля
            </p>
        {% endif %}
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <form action="{% url 'admin_password_reset' %}" method="post" class="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 form-group">
                            <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" class="form-control">
                            <p style="color: red">{{ form.email.errors|striptags }}</p>
                        </div>
                        <div style="color: red; text-align: center;">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <button id="password_reset_request" type="submit" class="button button-ujarak button-circle">Отправить письмо</button>
                    </div>
                </form>
            </div>
        </div>
    </div>







{% endblock %}




