<tbody>
<tr>
    <td valign="top">
        <table cellspacing="0" border="0" cellpadding="0" align="center" width="540" style="">
           <tbody>
           <tr>
               <td valign="top" height="24">
                    <h2>
                        Сброс пароля:
                    </h2>
               </td>
           </tr>
           </tbody>
        </table>
        <table cellspacing="0" border="0" cellpadding="0" align="center" width="540">
            <tbody>
            <tr>
                <td valign="top">
                    <p>
                        Уважаемый {{ user }}.
                        Мы получили запрос на сброс вашей учетной записи для этого адреса электронной почты
                        Чтобы начать процесс сброса пароля для вашей учетной записи, кликните ссылку ниже.
                        Эту ссылку можно использовать только один раз. Если вам нужно снова сбросить пароль, посетите сайт, нажав на логотип вверху и запросите еще один сбросю
                        Если вы не отправляли этот запрос, вы можете просто проигнорировать это письмо.
                    </p>
                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<tr>
    <td colspan="2" valign="top" class="footer">
        <h1>
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64 token=token %}">Сбросить пароль</a>
        </h1>
    </td>
</tr>
</tbody>

