{#<div class="rd-navbar-share fl-bigmug-line-share27"#}
{#     data-rd-navbar-toggle=".rd-navbar-share-list">#}
    <ul class="list-inline rd-navbar-share-list">
        <li class="rd-navbar-share-list-item"><a class="icon fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://user1221.pythonanywhere.com{{ news.get_absolute_url }}" target="_blank" rel="nofollow"></a></li>
        <li class="rd-navbar-share-list-item"><a class="icon fa fa-twitter" href="https://twitter.com/share?url=https://user1221.pythonanywhere.com{{ news.get_absolute_url }}" target="_blank" rel="nofollow"></a></li>
        <li class="rd-navbar-share-list-item"><a class="icon fa fa-vk" href="https://vk.com/share.php?url=https://user1221.pythonanywhere.com{{ news.get_absolute_url }}" target="_blank" rel="nofollow"></a></li>
        <li class="rd-navbar-share-list-item"><a class="icon fa fa-odnoklassniki" href="https://connect.ok.ru/offer?url=https://user1221.pythonanywhere.com{{ news.get_absolute_url }}" target="_blank" rel="nofollow"></a></li>
        <li class="rd-navbar-share-list-item"><a class="icon fa fa-linkedin-square" href="https://www.linkedin.com/shareArticle?mini=true&url=https://user1221.pythonanywhere.com{{ news.get_absolute_url }}" target="_blank" rel="nofollow"></a></li>
    </ul>

{#</div>#}




{#<a href="http://vk.com/share.php?url=https://evileg.com/ru/{{ article.get_absolute_url }}"#}
{#   target="_blank" rel="nofollow">#}
{#    <img src="{% static 'images/social/vk.png' %}">#}
{#</a>#}
{#<a href="https://twitter.com/share?url=https://evileg.com/ru/{{ article.get_absolute_url }}"#}
{#   target="_blank" rel="nofollow">#}
{#    <img src="{% static 'images/social/twitter.png' %}">#}
{#</a>#}
{#<a href="https://www.facebook.com/sharer/sharer.php?u=https://evileg.com/ru/{{ article.get_absolute_url }}"#}
{#   target="_blank" rel="nofollow">#}
{#    <img src="{% static 'images/social/facebook.png' %}">#}
{#</a>#}
{#<a href="https://plus.google.com/share?url=https://evileg.com/ru/{{ article.get_absolute_url }}"#}
{#   target="_blank" rel="nofollow">#}
{#    <img src="{% static 'images/social/google-plus.png' %}">#}
{#</a>#}
{#<a href="https://www.linkedin.com/shareArticle?mini=true&url=https://evileg.com/ru/{{ article.get_absolute_url }}"#}
{#   target="_blank" rel="nofollow">#}
{#    <img src="{% static 'images/social/linkedin.png' %}">#}
{#</a>#}