{% extends 'base.html' %}
{% load static %}
{% block title %}
    About Us
{% endblock %}


<!-- Page Header-->

{% block nav_active %}
    <ul class="rd-navbar-nav">
        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'index' %}">Главная</a></li>
        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'history' %}">История</a></li>
        <li class="rd-nav-item dropdown">
            <a class="rd-nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Богослужения
            </a>
            <div class="dropdown-menu">
                <a href="{% url 'schedule' %}" class="dropdown-item">Расписание богослужений</a>
                <a href="{% url 'typography' %}" class="dropdown-item">История богослужений</a>
            </div>
        </li>
        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'gallery' %}">Галерея</a></li>
{#        <li class="rd-nav-item mr-lg-4 mr-xl-4 mr-xxl-4 mr-md-0"><a class="rd-nav-link" href="{% url 'contact' %}">Контакты</a></li>#}
        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'contact' %}">Контакты</a></li>
    </ul>
{% endblock %}
{% block body %}

    <!-- Breadcrumbs -->
    <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-60">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">About Us</h2>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
            <div class="box-position" style="background-image: url({% static 'images/bg-about.jpg' %});"></div>
        </div>
    </section>
    <!-- Why choose us-->
    <section class="section section-sm section-first bg-default text-md-left">
        <div class="container">
            <div class="row row-50 justify-content-center align-items-xl-center">
                <div class="col-md-10 col-lg-5 col-xl-6"><img src="{% static 'images/about-1-519x564.jpg' %}" alt=""
                                                              width="519" height="564"/>
                </div>
                <div class="col-md-10 col-lg-7 col-xl-6">
                    <h1 class="text-spacing-25 font-weight-normal title-opacity-9">Why choose us</h1>
                    <!-- Bootstrap tabs-->
                    <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">
                        <!-- Nav tabs-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-4-1"
                                                                        data-toggle="tab">Experience</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-2"
                                                                        data-toggle="tab">Skills</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-3"
                                                                        data-toggle="tab">Mission</a></li>
                        </ul>
                        <!-- Tab panes-->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tabs-4-1">
                                <p>Creator is an internationally recognized and award-winning interior design firm
                                    with
                                    expertise in residential, commercial, hospitality, retail, healthcare and beauty
                                    projects.</p>
                                <!-- Linear progress bar-->
                                <article class="progress-linear progress-secondary">
                                    <div class="progress-header">
                                        <p>Interior Design</p>
                                    </div>
                                    <div class="progress-bar-linear-wrap">
                                        <div class="progress-bar-linear"><span class="progress-value">79</span><span
                                                class="progress-marker"></span></div>
                                    </div>
                                </article>
                                <!-- Linear progress bar-->
                                <article class="progress-linear progress-orange">
                                    <div class="progress-header">
                                        <p>3d modeling</p>
                                    </div>
                                    <div class="progress-bar-linear-wrap">
                                        <div class="progress-bar-linear"><span class="progress-value">72</span><span
                                                class="progress-marker"></span></div>
                                    </div>
                                </article>
                                <!-- Linear progress bar-->
                                <article class="progress-linear">
                                    <div class="progress-header">
                                        <p>Architecture</p>
                                    </div>
                                    <div class="progress-bar-linear-wrap">
                                        <div class="progress-bar-linear"><span class="progress-value">88</span><span
                                                class="progress-marker"></span></div>
                                    </div>
                                </article>
                            </div>
                            <div class="tab-pane fade" id="tabs-4-2">
                                <div class="row row-40 justify-content-center text-center inset-top-10">
                                    <div class="col-sm-4">
                                        <!-- Circle Progress Bar-->
                                        <div class="progress-bar-circle" data-value="0.87" data-gradient="#ec7575"
                                             data-empty-fill="transparent" data-size="150" data-thickness="12"
                                             data-reverse="true"><span></span></div>
                                        <p class="progress-bar-circle-title">Interior Design</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- Circle Progress Bar-->
                                        <div class="progress-bar-circle" data-value="0.74" data-gradient="#e7a855"
                                             data-empty-fill="transparent" data-size="150" data-thickness="12"
                                             data-reverse="true"><span></span></div>
                                        <p class="progress-bar-circle-title">Architecture</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- Circle Progress Bar-->
                                        <div class="progress-bar-circle" data-value="0.99" data-gradient="#50ba87"
                                             data-empty-fill="transparent" data-size="150" data-thickness="12"
                                             data-reverse="true"><span></span></div>
                                        <p class="progress-bar-circle-title">Space Planning</p>
                                    </div>
                                </div>
                                <div class="group-md group-middle"><a
                                        class="button button-width-xl-230 button-primary button-pipaluk" href="#">Get
                                    in
                                    touch</a><a
                                        class="button button-width-xl-310 button-default-outline button-wapasha"
                                        href="#">Download presentation</a></div>
                            </div>
                            <div class="tab-pane fade" id="tabs-4-3">
                                <p>Our mission is simple—working with people to create beautiful homes and
                                    environments
                                    through inspiration and design. We will take the time to understand you and your
                                    project, and then design a plan that suits you.</p>
                                <div class="text-center text-sm-left offset-top-30">
                                    <ul class="row-16 list-0 list-custom list-marked list-marked-sm list-marked-secondary">
                                        <li>Interior design</li>
                                        <li>Space planning</li>
                                        <li>Decorating services</li>
                                        <li>Paint consultations</li>
                                        <li>Furniture selections</li>
                                        <li>Room layouts</li>
                                    </ul>
                                </div>
                                <div class="group-md group-middle"><a
                                        class="button button-width-xl-230 button-primary button-pipaluk" href="#">Get
                                    in
                                    touch</a><a
                                        class="button button-width-xl-310 button-default-outline button-wapasha"
                                        href="#">Download presentation</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Latest Projects-->
    <section class="section section-sm section-fluid bg-default">
        <div class="container">
            <h3>Project timeline</h3>
        </div>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-classic owl-timeline" data-items="1" data-md-items="2" data-lg-items="3"
             data-xl-items="4" data-margin="30" data-autoplay="true" data-nav="true" data-dots="true">
            <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="{% static 'images/project-1-420x308.jpg' %}" alt=""
                                                            width="420" height="308"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
                                                           href="{% static 'images/grid-gallery-1-1200x800-original.jpg' %}"
                                                           data-lightgallery="item"><img
                            src="{% static 'images/project-1-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                    </div>
                </article>
                <div class="thumbnail-mary-description">
                    <h5 class="thumbnail-mary-project"><a href="#">Los Angeles coworking center</a></h5><span
                        class="thumbnail-mary-decor"></span>
                    <h5 class="thumbnail-mary-time">
                        <time datetime="2019">2019</time>
                    </h5>
                </div>
            </div>
            <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="{% static 'images/project-2-420x308.jpg' %}" alt=""
                                                            width="420" height="308"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
                                                           href="{% static 'images/fullwidth-masonry-gallery-10-1200x800-original.jpg' %}"
                                                           data-lightgallery="item"><img
                            src="{% static 'images/project-2-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                    </div>
                </article>
                <div class="thumbnail-mary-description">
                    <h5 class="thumbnail-mary-project"><a href="#">daycare center</a></h5><span
                        class="thumbnail-mary-decor"></span>
                    <h5 class="thumbnail-mary-time">
                        <time datetime="2007">2007</time>
                    </h5>
                </div>
            </div>
            <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="{% static 'images/project-3-420x308.jpg' %}" alt=""
                                                            width="420" height="308"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
                                                           href="{% static 'images/grid-gallery-3-1200x800-original.jpg' %}"
                                                           data-lightgallery="item"><img
                            src="{% static 'images/project-3-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                    </div>
                </article>
                <div class="thumbnail-mary-description">
                    <h5 class="thumbnail-mary-project"><a href="#">Sun valley hotel</a></h5><span
                        class="thumbnail-mary-decor"></span>
                    <h5 class="thumbnail-mary-time">
                        <time datetime="2011">2011</time>
                    </h5>
                </div>
            </div>
            <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="{% static 'images/project-4-420x308.jpg' %}" alt=""
                                                            width="420" height="308"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
                                                           href="{% static 'images/project-4-1200x800-original.jpg' %}"
                                                           data-lightgallery="item"><img
                            src="{% static 'images/project-4-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                    </div>
                </article>
                <div class="thumbnail-mary-description">
                    <h5 class="thumbnail-mary-project"><a href="#">Residential house: living room</a></h5><span
                        class="thumbnail-mary-decor"></span>
                    <h5 class="thumbnail-mary-time">
                        <time datetime="2013">2013</time>
                    </h5>
                </div>
            </div>
            <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="{% static 'images/project-5-420x308.jpg' %}" alt=""
                                                            width="420" height="308"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
                                                           href="{% static 'images/fullwidth-gallery-5-1200x800-original.jpg' %}"
                                                           data-lightgallery="item"><img
                            src="{% static 'images/project-5-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                    </div>
                </article>
                <div class="thumbnail-mary-description">
                    <h5 class="thumbnail-mary-project"><a href="#">Social Center</a></h5><span
                        class="thumbnail-mary-decor"></span>
                    <h5 class="thumbnail-mary-time">
                        <time datetime="2014">2014</time>
                    </h5>
                </div>
            </div>
            <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="{% static 'images/project-6-420x308.jpg' %}" alt=""
                                                            width="420" height="308"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
                                                           href="{% static 'images/project-6-1200x800-original.jpg' %}"
                                                           data-lightgallery="item"><img
                            src="{% static 'images/project-6-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                    </div>
                </article>
                <div class="thumbnail-mary-description">
                    <h5 class="thumbnail-mary-project"><a href="#">Small Kitchen</a></h5><span
                        class="thumbnail-mary-decor"></span>
                    <h5 class="thumbnail-mary-time">
                        <time datetime="2017">2017</time>
                    </h5>
                </div>
            </div>
        </div>
    </section>

    <!-- What people Say-->
    <section class="section section-sm section-last bg-default">
        <div class="container">
            <h3>What people Say</h3>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30"
                 data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles"
                                                                                            src="{% static 'images/user-16-100x100.jpg' %}"
                                                                                            alt="" width="100"
                                                                                            height="100"/></a>
                        <div class="quote-lisa-text">
                            <p class="q">I chose Creator because of their knowledge, experience and attention to
                                detail
                                that has proven invaluable to me in creating a superior finished project, which
                                attracts
                                more clients to my shop. I can surely say that their team has a gift for truly
                                interpreting a client’s ideas and transforming them into reality.</p>
                        </div>
                        <h5 class="quote-lisa-cite"><a href="#">Catherine Williams</a></h5>
                        <p class="quote-lisa-status">Local shop owner</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles"
                                                                                            src="{% static 'images/user-17-100x100.jpg' %}"
                                                                                            alt="" width="100"
                                                                                            height="100"/></a>
                        <div class="quote-lisa-text">
                            <p class="q">This agency was highly recommended to me. The sensitivity, knowledge,
                                vision
                                and ultimate execution this firm brought to the table was tremendous. They have
                                enormously talented designers in the team who consistently deliver the highest
                                quality
                                as well as aesthetically beautiful solutions for their clients.</p>
                        </div>
                        <h5 class="quote-lisa-cite"><a href="#">Rupert Wood</a></h5>
                        <p class="quote-lisa-status">House owner</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles"
                                                                                            src="{% static 'images/user-18-100x100.jpg' %}"
                                                                                            alt="" width="100"
                                                                                            height="100"/></a>
                        <div class="quote-lisa-text">
                            <p class="q">Your professional guidance gave me results that far exceeded my
                                expectations.
                                My clients thoroughly enjoy the fun, relaxing ambience that the interior design
                                creates.
                                Thank you for helping me bring my ideas to life and transform my own workspace into
                                something new and awesome!</p>
                        </div>
                        <h5 class="quote-lisa-cite"><a href="#">Samantha Brown</a></h5>
                        <p class="quote-lisa-status">Freelancer</p>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <!-- Counter Classic-->
    <section class="section section-fluid bg-default">
        <div class="parallax-container" data-parallax-img="{% static 'images/bg-counter-2.jpg' %}">
            <div class="parallax-content section-xl context-dark bg-overlay-26">
                <div class="container">
                    <div class="row row-50 justify-content-center border-classic">
                        <div class="col-sm-6 col-md-5 col-lg-3">
                            <div class="counter-classic">
                                <div class="counter-classic-number"><span class="counter">12</span>
                                </div>
                                <h5 class="counter-classic-title">Design awards</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-3">
                            <div class="counter-classic">
                                <div class="counter-classic-number"><span class="counter">194</span>
                                </div>
                                <h5 class="counter-classic-title">Projects</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-3">
                            <div class="counter-classic">
                                <div class="counter-classic-number"><span class="counter">2</span><span
                                        class="symbol">k</span>
                                </div>
                                <h5 class="counter-classic-title">Designed interiors</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-3">
                            <div class="counter-classic">
                                <div class="counter-classic-number"><span class="counter">25</span>
                                </div>
                                <h5 class="counter-classic-title">Team members</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our clients-->
    <section class="section section-xl bg-default">
        <div class="container">
            <h3>Our clients</h3>
            <div class="row row-30 row-sm">
                <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInDown" data-wow-delay=".3s"><a
                        class="clients-classic"
                        href="#"><img
                        src="{% static 'images/clients-1-270x145.png' %}" alt="" width="270" height="145"/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInDown" data-wow-delay=".2s"><a
                        class="clients-classic"
                        href="#"><img
                        src="{% static 'images/clients-2-270x145.png' %}" alt="" width="270" height="145"/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInDown" data-wow-delay=".1s"><a
                        class="clients-classic"
                        href="#"><img
                        src="{% static 'images/clients-3-270x145.png' %}" alt="" width="270" height="145"/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInDown"><a class="clients-classic" href="#"><img
                        src="{% static 'images/clients-4-270x145.png' %}" alt="" width="270" height="145"/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInUp"><a class="clients-classic" href="#"><img
                        src="{% static 'images/clients-5-270x145.png' %}" alt="" width="270" height="145"/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInUp" data-wow-delay=".1s"><a class="clients-classic"
                                                                                             href="#"><img
                        src="{% static 'images/clients-6-270x145.png' %}" alt="" width="270" height="145"/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInUp" data-wow-delay=".2s"><a class="clients-classic"
                                                                                             href="#"><img
                        src="{% static 'images/clients-7-270x145.png' %}" alt="" width="270" height="145"/></a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInUp" data-wow-delay=".3s"><a class="clients-classic"
                                                                                             href="#"><img
                        src="{% static 'images/clients-8-270x145.png' %}" alt="" width="270" height="145"/></a>
                </div>
            </div>
        </div>
    </section>

    {#      <!-- Bottom Banner--><a class="section-banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url({% static 'images/banner/banner-bg-01-1920x310.jpg' %}); background-image: -webkit-image-set( url({% static 'images/banner/banner-bg-01-1920x310.jpg' %}) 1x, url({% static 'images/banner/banner-bg-01-3840x620.jpg' %}) 2x )" target="_blank"><img src="{% static 'images/banner/banner-fg-01-1600x310.png' %}" srcset="{% static 'images/banner/banner-fg-01-1600x310.png' %} 1x, {% static 'images/banner/banner-fg-01-3200x620.png' %} 2x" alt="" width="1600" height="310"></a>#}
    <!-- Page Footer-->
    </div>

    {% include 'includes/footer.html' %}
{% endblock %}