{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {{ churches.name }}
{% endblock %}

{% block body %}


    {#    <!-- Breadcrumbs -->#}
    <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-33">
            <div class="container" style="height: 20rem">
            </div>
            {% thumbnail churches.picture "x900" crop="center" quality=70 as im %}
                <div class="box-position" style="background-image: url({{ im.url }});"></div>
            {% endthumbnail %}
        </div>
    </section>
    {#    <!-- Base typography-->#}
    <section class="section section-sm section-first bg-default text-left">
        <div class="container">
            <div class="row row-40 flex-lg-row-reverse justify-content-xl-between">
                <div class="col-xl-5 d-none d-xl-block">
                    <div class="offset-left-xl-45">

                        <h4>Последние новости</h4>
                        {% include 'includes/last_posts.html' %}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis deleniti, deserunt,#}
{#                            dolore excepturi explicabo fuga harum, ipsam odio quo repellat reprehenderit rerum similique#}
{#                            temporibus unde ut veniam vero voluptatum.</p>#}
                    </div>
                </div>
                <div class="col-xl-7">
                    <ul class="list-xl box-typography">
                        <li>
                            <h4>{{ churches.name }}</h4>
                            <p>{{ churches.content|safe }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- HTML Text Elements-->
{#    <section class="section section-sm bg-default text-left">#}
{#        <div class="container">#}
{#            <h3>HTML Text Elements</h3>#}
{#            <p class="text-block">Welcome to our wonderful world. This is a bold text#}
{#                <mark>This is a highlighted text</mark>#}
{#                We sincerely hope that each and every user entering our website will find exactly what he/she is looking#}
{#                for. With advanced features of activating account and new login<span class="tooltip-custom"#}
{#                                                                                     data-toggle="tooltip"#}
{#                                                                                     data-placement="top"#}
{#                                                                                     title="Default text">Tooltips</span>widgets,#}
{#                you will definitely have a great experience of using our web page.<span class="text-strike">This is a strikethrough text</span><span#}
{#                        class="text-underline">This is an underlined text.</span><a href="#">Link</a><a#}
{#                        class="link-hover" href="#">Hover link</a><a class="link-active" href="#">Press link</a>#}
{#            </p>#}
{#        </div>#}
{#    </section>#}

    <!-- Lists and Blockquote-->
{#    <section class="section section-sm section-last bg-default text-left">#}
{#        <div class="container">#}
{#            <div class="row row-60 row-md-80 row-lg-90">#}
{#                <div class="col-lg-8 col-xl-6">#}
{#                    <h3>Ordered & Unordered Lists</h3>#}
{#                    <div class="row row-sm row-30">#}
{#                        <div class="col-sm-6">#}
{#                            <ul class="list-marked">#}
{#                                <li>Consulting</li>#}
{#                                <li>Customer Service</li>#}
{#                                <li>Innovation</li>#}
{#                                <li>Management</li>#}
{#                                <li>Ethics</li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="col-sm-6">#}
{#                            <ol class="list-ordered">#}
{#                                <li>Consulting</li>#}
{#                                <li>Customer Service</li>#}
{#                                <li>Innovation</li>#}
{#                                <li>Management</li>#}
{#                                <li>Ethics</li>#}
{#                            </ol>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-8 col-xl-6">#}
{#                    <div class="offset-left-xl-65">#}
{#                        <h3>Blockquote</h3>#}
{#                        <!-- Quote Classic-->#}
{#                        <article class="quote-classic">#}
{#                            <div class="quote-classic-text">#}
{#                                <p class="q">We use only trusted, verified content, so you can believe our every#}
{#                                    word.</p>#}
{#                            </div>#}
{#                            <h6 class="quote-classic-cite">Catherine Williams</h6>#}
{#                        </article>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    {% include 'includes/footer.html' %}
{% endblock %}