{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {{ history.name }}
{% endblock %}

{% block body %}


    {#    <!-- Breadcrumbs -->#}
    <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-33">
            <div class="container" style="height: 20rem">
{#                <h2 class="breadcrumbs-custom-title">Typography</h2>#}
{#                <ul class="breadcrumbs-custom-path">#}
{#                    <li><a href="{% url 'index' %}">Home</a></li>#}
{#                    <li class="active">Typography</li>#}
{#                </ul>#}
            </div>
            {% thumbnail history.picture "x900" crop="center" quality=70 as im %}
                <div class="box-position" style="background-image: url({{ im.url }});"></div>
            {% endthumbnail %}
{#            <div class="box-position" style="background-image: url({% static 'images/bg-elements.jpg' %});"></div>#}
        </div>
    </section>
    {#    <!-- Base typography-->#}
    <section class="section section-sm section-first bg-default text-left">
        <div class="container">
            <div class="row row-40 flex-lg-row-reverse justify-content-xl-between">
                <div class="col-xl-5 d-none d-xl-block">
                    <div class="offset-left-xl-45">

                        <h4>Последние новости</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis deleniti, deserunt,
                            dolore excepturi explicabo fuga harum, ipsam odio quo repellat reprehenderit rerum similique
                            temporibus unde ut veniam vero voluptatum.</p>
                    </div>
                </div>
                <div class="col-xl-7">
                    <ul class="list-xl box-typography">
                        <li>
                            <h4>{{ history.name }}</h4>
                            <p>{{ history.content|safe }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/footer.html' %}
{% endblock %}