{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    История {{ history.name }}
{% endblock %}

{% block nav_active %}
    <ul class="rd-navbar-nav">
        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'index' %}">Главная</a></li>
        <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'history' %}">История</a></li>

        <li class="rd-nav-item dropdown">
            <a class="rd-nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Богослужения
            </a>
            <div class="dropdown-menu">
                <a href="{% url 'schedule' %}" class="dropdown-item">Расписание богослужений</a>
                <a href="{% url 'typography' %}" class="dropdown-item">История богослужений</a>
                <a href="{% url 'typography' %}" class="dropdown-item">Typography</a>
                <a href="{% url 'about' %}" class="dropdown-item">About Us</a>
                <a href="{% url 'old_index' %}" class="dropdown-item">index</a>
            </div>
        </li>
        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'gallery' %}">Галерея</a></li>

        {#        <li class="rd-nav-item mr-lg-4 mr-xl-4 mr-xxl-4 mr-md-0"><a class="rd-nav-link" href="{% url 'contact' %}">Контакты</a></li>#}
        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'contact' %}">Контакты</a></li>
    </ul>
{% endblock %}

{% block body %}


    {#    <!-- Breadcrumbs -->#}
    <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-33">
            <div class="container" style="height: 20rem">
{#                <h2 class="breadcrumbs-custom-title">Typography</h2>#}
{#                <ul class="breadcrumbs-custom-path">#}
{#                    <li><a href="{% url 'index' %}">Home</a></li>#}
{#                    <li class="active">Typography</li>#}
{#                </ul>#}
            </div>
            {% thumbnail history.picture "x900" crop="center" quality=70 as im %}
                <div class="box-position" style="background-image: url({{ im.url }});"></div>
            {% endthumbnail %}
{#            <div class="box-position" style="background-image: url({% static 'images/bg-elements.jpg' %});"></div>#}
        </div>
    </section>
    {#    <!-- Base typography-->#}
    <section class="section section-sm section-first bg-default text-left">
        <div class="container">
            <div class="row row-40 flex-lg-row-reverse justify-content-xl-between">



                <div class="col-xl-5 d-none d-xl-block">
                    <div class="offset-left-xl-45">

                        <h4>Последние новости</h4>
                        {% include 'includes/last_posts.html' %}
                    </div>
                </div>




                <div class="col-xl-7">
                    <ul class="list-xl box-typography">
                        <li>
                            <h4>{{ history.name }}</h4>
                            <p>{{ history.content|safe }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/footer.html' %}
{% endblock %}