{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Главная страница{% endblock %}

{% block nav_active %}
    <ul class="rd-navbar-nav">
        <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'index' %}">Главная</a></li>
        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'history' %}">История</a></li>

        <li class="rd-nav-item dropdown">
            <a class="rd-nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                Богослужения
            </a>
            <div class="dropdown-menu">
                <a href="{% url 'schedule' %}" class="dropdown-item">Расписание богослужений</a>
                <a href="{% url 'typography' %}" class="dropdown-item">История богослужений</a>
{#                <a href="{% url 'typography' %}" class="dropdown-item">Typography</a>#}
{#                <a href="{% url 'about' %}" class="dropdown-item">About Us</a>#}
{#                <a href="{% url 'old_index' %}" class="dropdown-item">index</a>#}
            </div>
        </li>
        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'gallery' %}">Галерея</a></li>

        {#        <li class="rd-nav-item mr-lg-4 mr-xl-4 mr-xxl-4 mr-md-0"><a class="rd-nav-link" href="{% url 'contact' %}">Контакты</a></li>#}
        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'contact' %}">Контакты</a></li>
    </ul>
{% endblock %}

{% block body %}


    <!-- Swiper-->
    <section class="section swiper-container swiper-slider swiper-slider-classic" data-loop="true" data-autoplay="5000"
             data-simulate-touch="true" data-direction="vertical" data-nav="false">
        <div class="swiper-wrapper text-center">

            {% for main_picture in view.get_main_pictures %}
                <div class="swiper-slide context-dark" data-slide-bg="{{ main_picture.picture.url }}">

                    <div class="swiper-slide-caption section-md">
                        <div class="container">
                            {% if main_picture.title %}
                                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">
                                    {{ main_picture.title }}
                                </h1>
                            {% endif %}
                            {% if main_picture.description %}
                                <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">
                                    {{ main_picture.description }}
                                </p>
                            {% endif %}
                            <a class="button button-primary button-ujarak" href="{% url 'schedule' %}"
                               data-caption-animate="fadeInUp"
                               data-caption-delay="200">
                                Богослужения
                            </a>
                        </div>
                    </div>
                </div>

            {% endfor %}


            {#            <div class="swiper-slide context-dark" data-slide-bg="{% static 'images/my/MainPicture1.jpg' %}">#}
            {#                <div class="swiper-slide-caption section-md">#}
            {#                    <div class="container">#}
            {#                        <h1 data-caption-animate="fadeInLeft" data-caption-delay="0"></h1>#}
            {#                        <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">#}
            {#                            Официальный сайт создан по благословлению Митрополита Ташкентского и Узбекистанского#}
            {#                            Викентия#}
            {#                        </p>#}
            {#                        <a class="button button-primary button-ujarak" href="{% url 'schedule' %}"#}
            {#                           data-caption-animate="fadeInUp"#}
            {#                           data-caption-delay="200">#}
            {#                            Богослужения#}
            {#                        </a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="swiper-slide context-dark" data-slide-bg="{% static 'images/my/MainPicture2.jpg' %}">#}
            {#                <div class="swiper-slide-caption section-md">#}
            {#                    <div class="container">#}
            {#                        <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">#}
            {#                            Committed and professional#}
            {#                        </h1>#}
            {#                        <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">#}
            {#                            Официальный сайт создан по благословлению Митрополита Ташкентского и Узбекистанского#}
            {#                            Викентия</p><a#}
            {#                            class="button button-primary button-ujarak" href="{% url 'schedule' %}"#}
            {#                            data-caption-animate="fadeInUp"#}
            {#                            data-caption-delay="200">Богослужения</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="swiper-slide context-dark" data-slide-bg="{% static 'images/slider-1-slide-3-1770x742.jpg' %}">#}
            {#                <div class="swiper-slide-caption section-md">#}
            {#                    <div class="container">#}
            {#                        <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">Harmonious and cozy</h1>#}
            {#                        <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">We#}
            {#                            develop individual room concepts for private and commercial use. Our team focuses on the#}
            {#                            interior design of private living rooms, hotels, offices, and more.</p><a#}
            {#                            class="button button-primary button-ujarak" href="#" data-caption-animate="fadeInUp"#}
            {#                            data-caption-delay="200">Get in touch</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination__module">
            <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span
                    class="swiper-pagination__fraction-divider">/</span><span
                    class="swiper-pagination__fraction-count">00</span>
            </div>
            <div class="swiper-pagination__divider"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>


    {#    <!-- Latest blog posts-->#}
    <section class="section section-sm section-last bg-default">
        <div class="container">
            <h3>Последние новости</h3>
            <div class="row row-60 row-sm">
                {#                {% for news in page_obj %}#}
                {#                    {% for news in view.get_news %}#}
                {% for news in page_obj %}

                    <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".2s">
                        <!-- Post Modern-->
                        <article class="post post-modern"><a class="post-modern-figure"
                                                             href="{{ news.get_absolute_url }}">
                            {% thumbnail news.picture "370x307" crop="center" as im %}
                                <img src="{{ im.url }}" alt="" width="370" height="307"/>
                            {% endthumbnail %}
                            <div class="post-modern-time">
                                <time datetime="2019-07-22"><span
                                        class="post-modern-time-number">{{ news.date|date:"d" }}</span><span
                                        class="post-modern-time-month">{{ news.date|date:"F" }}</span></time>
                            </div>
                        </a>
                            {#                            <h5 class="post-modern-title"><a href="{% url 'post_detail' news.pk %}">{{ news.title }}</a>#}
                            <h5 class="post-modern-title"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                            </h5>
                            <p class="post-modern-text">{{ news.content|striptags|truncatechars:250 }}</p>
                        </article>
                    </div>
                {% endfor %}
            </div>


            {% if page_obj.has_other_pages %}
                <nav aria-label="main-navigation" class="mt-5">
                    <ul class="pagination justify-content-end">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?{{ q }}page={{ page_obj.previous_page_number }}">&laquo;Предыдущая</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;Предыдущая</span>
                            </li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active">
                                    <span class="page-link">
                                        {{ i }}
                                        <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                            {% elif i > page_obj.number|add:-3 and i < page_obj.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?{{ q }}page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?{{ q }}page={{ page_obj.next_page_number }}">Следующая&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Следующая&raquo;</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

        </div>
    </section>


    {# Храмы Самарканда #}
    <section class="section section-sm section-last bg-default">
        <div class="container">
            <h3>Храмы Самарканда</h3>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30"
                 data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                <!-- Quote Lisa-->

                {#                {% for church in churches %}#}
                {% for church in view.get_churches %}

                    <article class="quote-lisa">
                        <div class="quote-lisa-body">
                            <a class="quote-lisa-figure" href="{% url 'churches' church.slug %}">
                                {% thumbnail church.picture "100x100" crop="center" as im %}
                                    <img class="img-circles" src="{{ im.url }}" alt="" width="100"
                                         height="100"/>
                                {% endthumbnail %}
                            </a>
                            <h5 class="quote-lisa-cite"><a href="{% url 'churches' church.slug %}">{{ church.name }}</a>
                            </h5>
                            <div class="quote-lisa-text">
                                <p class="q">{{ church.short_text }}</p>
                            </div>
                            <p class="quote-lisa-status"><a href="{% url 'churches' church.slug %}">Читать далее...</a>
                            </p>
                        </div>
                    </article>

                {% endfor %}


                {#                <article class="quote-lisa">#}
                {#                    <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles"#}
                {#                                                                                            src="{% static 'images/user-16-100x100.jpg' %}"#}
                {#                                                                                            alt="" width="100"#}
                {#                                                                                            height="100"/></a>#}
                {#                        <div class="quote-lisa-text">#}
                {#                            <p class="q">{{ pass }}</p>#}
                {#                        </div>#}
                {#                        <h5 class="quote-lisa-cite"><a href="#">Catherine Williams</a></h5>#}
                {#                        <p class="quote-lisa-status">Local shop owner</p>#}
                {#                    </div>#}
                {#                </article>#}
                {#                <!-- Quote Lisa-->#}
                {#                <article class="quote-lisa">#}
                {#                    <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles"#}
                {#                                                                                            src="{% static 'images/user-17-100x100.jpg' %}"#}
                {#                                                                                            alt="" width="100"#}
                {#                                                                                            height="100"/></a>#}
                {#                        <div class="quote-lisa-text">#}
                {#                            <p class="q">This agency was highly recommended to me. The sensitivity, knowledge,#}
                {#                                vision#}
                {#                                and ultimate execution this firm brought to the table was tremendous. They have#}
                {#                                enormously talented designers in the team who consistently deliver the highest#}
                {#                                quality#}
                {#                                as well as aesthetically beautiful solutions for their clients.</p>#}
                {#                        </div>#}
                {#                        <h5 class="quote-lisa-cite"><a href="#">Rupert Wood</a></h5>#}
                {#                        <p class="quote-lisa-status">House owner</p>#}
                {#                    </div>#}
                {#                </article>#}
                {#                <!-- Quote Lisa-->#}
                {#                                <article class="quote-lisa">#}
                {#                                    <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles"#}
                {#                                                                                                            src="{% static 'images/user-18-100x100.jpg' %}"#}
                {#                                                                                                            alt="" width="100"#}
                {#                                                                                                            height="100"/></a>#}
                {#                                        <div class="quote-lisa-text">#}
                {#                                            <p class="q">Your professional guidance gave me results that far exceeded my#}
                {#                                                expectations.#}
                {#                                                My clients thoroughly enjoy the fun, relaxing ambience that the interior design#}
                {#                                                creates.#}
                {#                                                Thank you for helping me bring my ideas to life and transform my own workspace into#}
                {#                                                something new and awesome!</p>#}
                {#                                        </div>#}
                {#                                        <h5 class="quote-lisa-cite"><a href="#">Samantha Brown</a></h5>#}
                {#                                        <p class="quote-lisa-status">Freelancer</p>#}
                {#                                    </div>#}
                {#                                </article>#}
            </div>
        </div>
    </section>


    <!-- Page Footer-->
    {% include 'includes/footer.html' %}

{% endblock %}
