{% extends 'base.html' %}
{% load static %}
{% block title %}
    Богослужения
{% endblock %}

{% block body %}


    <section class="section section-sm section-first bg-default text-left">
        <div class="container">
            <div class="row row-40 flex-lg-row-reverse justify-content-xl-between">
                <div class="col-xl-5 d-none d-xl-block">
                    <div class="offset-left-xl-45">
                        <h5 class="mb-4 mt-5">Последние новости</h5>
                        {% include 'includes/last_posts.html' %}
                    </div>
                </div>
                <div class="col-xl-7">

                            <h4 style="text-align: center;">Расписание Богослужений</h4>
                            <br>
                            <hr>
                            <br>
{#                            <p style="overflow: auto">#}
                                {{ schedule.schedule|safe }}
{#                            </p>#}


{#                    </ul>#}
                </div>
            </div>
        </div>
    </section>



    {% include 'includes/footer.html' %}
{% endblock %}