{% extends "sign_user/base.html" %}
{% load static %}

{% block title %}
    Email sent
{% endblock %}
{% block body %}


    <div class="border">
        <form action="#" class="form">
            <h1 class="form_title">Письмо отправлено</h1>
            <div class="text-help" style="text-align: center;">
                <b>Мы отправили вам ссылку для восстановления доступа к аккаунту</b>
            </div>
            <br>
{#            <div class="form_button">#}
{#                <button class="form_button-submit" type="submit">Продолжить</button>#}
{#            </div>#}
        </form>
    </div>
{% endblock %}