{% extends 'base.html' %}
{% block title %}
Вход
{% endblock %}
{% block body %}

<div class="register-form">
    <form id="login" action="{% url 'sign_in' %}" method="post">
        {% csrf_token %}
        <h5 class="h1-register" style="font-family: CyrillicOldBold">Вход</h5>
        <fieldset id="inputs">
            {#        <input id="username" type="text" placeholder="Логин" autofocus required>#}
            <input id="username2" name="user" type="text" placeholder="Логин" required>
            <input id="password" name="password" type="password" placeholder="Пароль" required>
        </fieldset>
        <fieldset id="actions">
            <input type="submit" id="submit_login" value="ВОЙТИ" title="Если не сработало, нажмите второй раз">
{#            <a href="{% url 'admin_password_reset' %}">Забыли пароль?</a>#}
            <a href="{% url 'register' %}">Регистрация</a>
        </fieldset>
    </form>
</div>
{% endblock %}
