{% autoescape off %}

    <div style="background-color:#f0f0f0;margin:0;padding:0">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="background-color:#f0f0f0">
            <tbody>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                        <tr>
                            <td>
                                <table class="m_8440171330031915403row-content m_8440171330031915403stack"
                                       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                       style="background-color:#fff;color:#000;width:640px" width="640">
                                    <tbody>
                                    <tr>
                                        <td class="m_8440171330031915403column" width="100%"
                                            style="font-weight:400;text-align:left;vertical-align:top;padding-top:5px;padding-bottom:5px;border-top:0;border-right:0;border-bottom:0;border-left:0">
                                            <div style="height:20px;line-height:20px;font-size:1px"> </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                        <tr>
                            <td>
                                <table class="m_8440171330031915403row-content m_8440171330031915403stack"
                                       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                       style="background-color:#fff;color:#000;width:640px" width="640">
                                    <tbody>
                                    <tr>
                                        <td class="m_8440171330031915403column" width="100%"
                                            style="font-weight:400;text-align:left;vertical-align:top;padding-left:30px;padding-right:30px;padding-top:5px;padding-bottom:5px;border-top:0;border-right:0;border-bottom:0;border-left:0">
                                            <div style="height:20px;line-height:20px;font-size:1px"> </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                        <tr>
                            <td>
                                <table class="m_8440171330031915403row-content m_8440171330031915403stack"
                                       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                       style="background-color:#fff;color:#000;width:640px" width="640">
                                    <tbody>
                                    <tr>
                                        <td class="m_8440171330031915403column" width="100%"
                                            style="font-weight:400;text-align:left;vertical-align:top;padding-left:30px;padding-right:30px;padding-top:5px;padding-bottom:5px;border-top:0;border-right:0;border-bottom:0;border-left:0">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                   role="presentation" style="word-break:break-word">
                                                <tbody>
                                                <tr>
                                                    <td style="padding-bottom:20px">
                                                        <div style="font-family:Arial,sans-serif">
                                                            <div style="font-size:14px;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;color:#000;line-height:1.5">
                                                                <p style="margin:0;font-size:30px"><span
                                                                        style="color:#278900"><strong>Свято-Алексеевский Собор</strong></span>
                                                                </p></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
{#                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">#}
{#                        <tbody>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <table class="m_8440171330031915403row-content" align="center" border="0"#}
{#                                       cellpadding="0" cellspacing="0" role="presentation"#}
{#                                       style="background-color:#fff;color:#000;width:640px" width="640">#}
{#                                    <tbody>#}
{#                                    <tr>#}
{#                                        <td class="m_8440171330031915403column" width="41.666666666666664%"#}
{#                                            style="font-weight:400;text-align:left;vertical-align:top;padding-left:30px;border-top:0;border-right:0;border-bottom:0;border-left:0">#}
{#                                            <table width="100%" border="0" cellpadding="0" cellspacing="0"#}
{#                                                   role="presentation">#}
{#                                                <tbody>#}
{#                                                <tr>#}
{#                                                    <td style="padding-left:10px;padding-top:80px;width:100%;padding-right:0;padding-bottom:5px">#}
{#                                                        <div style="line-height:10px"><img#}
{#                                                                src="https://ci4.googleusercontent.com/proxy/e6-vAo2i-sYbz6o2eMdqsHQTs2ePgB3d2wi-EcFzhSaZL2dXT4MpezQop4nluUzNdYBm0jh6oRB5bYgSc8PGgJBK6-k9w6lz7bUqvOPRCwa0gy7Q0RmeS3WZACJJwACSH1s0vKuQX6cWEUOqe2yj0kwVYFV8uUsl0x29ssR_YtmWCZ-DpQUxlPggcnIoJRi-922MvUmKxibpe3z7VhztF6KfPdq11bD7vXsa0pkDBI8xSVAWm9r-Wx6zZKFCtkUK5A=s0-d-e1-ft#https://img.starteml.com/en/v5/user-files?userId=4399783&amp;resource=himg&amp;disposition=inline&amp;name=66q5de6yzyys6ukzmzc4j1frbjf9itnmeam4iuoymgu84qwewzdnzxdnr7fczizfofar7pxrp6qymr"#}
{#                                                                style="display:block;height:auto;border:0;width:142px;max-width:100%"#}
{#                                                                width="142" class="CToWUd"></div>#}
{#                                                    </td>#}
{#                                                </tr>#}
{#                                                </tbody>#}
{#                                            </table>#}
{#                                        </td>#}
{#                                        <td class="m_8440171330031915403column" width="58.333333333333336%"#}
{#                                            style="font-weight:400;text-align:left;vertical-align:top;padding-right:30px;border-top:0;border-right:0;border-bottom:0;border-left:0">#}
{#                                            <table width="100%" border="0" cellpadding="0" cellspacing="0"#}
{#                                                   role="presentation">#}
{#                                                <tbody>#}
{#                                                <tr>#}
{#                                                    <td style="padding-right:10px;width:100%;padding-left:0;padding-top:5px;padding-bottom:5px">#}
{#                                                        <div align="center" style="line-height:10px"><img#}
{#                                                                src="https://ci5.googleusercontent.com/proxy/mX59AvWifq-cE27OcxX3Fev1ViSAXSWYVTF6mC-0ZGHsoYGab98KYe3oJqPF4UcAVFadz5dG4bZXUH-DyzDMfpajLm9dRc_H_WkaRmq-aG4u5SernbbbVTyTuHxgY8qiDEDaUxMORzo4-Pvqc7JEAl7OpRdgmDEHhn5prR18NcmwOwfF3RhARybAc7dt7JMp813_jqlzUrXf8EI-uiqpYTr3Jwnu0WQcfmCHzUuruOuASEosoHEKiz64_N85sRFOCg=s0-d-e1-ft#https://img.starteml.com/en/v5/user-files?userId=4399783&amp;resource=himg&amp;disposition=inline&amp;name=6xqjkkbrec31h5kzmzc4j1frbjf9itnmeam4iuogkqrrj11whygr8xdnr7fczizfoaii84w9b86sya"#}
{#                                                                style="display:block;height:auto;border:0;width:333px;max-width:100%"#}
{#                                                                width="333" class="CToWUd"></div>#}
{#                                                    </td>#}
{#                                                </tr>#}
{#                                                </tbody>#}
{#                                            </table>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </td>#}
{#                        </tr>#}
{#                        </tbody>#}
{#                    </table>#}
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                        <tr>
                            <td>
                                <table class="m_8440171330031915403row-content m_8440171330031915403stack"
                                       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                       style="background-color:#fff;color:#000;width:640px" width="640">
                                    <tbody>
                                    <tr>
                                        <td class="m_8440171330031915403column" width="100%"
                                            style="font-weight:400;text-align:left;vertical-align:top;padding-left:30px;padding-right:30px;padding-top:5px;padding-bottom:5px;border-top:0;border-right:0;border-bottom:0;border-left:0">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                   role="presentation" style="word-break:break-word">
                                                <tbody>
                                                <tr>
                                                    <td style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:30px">
                                                        <div style="font-family:sans-serif">
                                                            <div style="font-size:14px;color:#000;line-height:1.5;font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif">
                                                                <p style="margin:0;font-size:14px"><span
                                                                        style="font-size:18px">Вас приветствует команда <strong>Алексеевского Собора</strong></span>
                                                                </p></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                        <tr>
                            <td>
                                <table class="m_8440171330031915403row-content m_8440171330031915403stack"
                                       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                       style="background-color:#fff;color:#000;width:640px" width="640">
                                    <tbody>
                                    <tr>
                                        <td class="m_8440171330031915403column" width="100%"
                                            style="font-weight:400;text-align:left;vertical-align:top;padding-left:30px;padding-right:30px;padding-top:5px;padding-bottom:5px;border-top:0;border-right:0;border-bottom:0;border-left:0">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                   role="presentation" style="word-break:break-word">
                                                <tbody>
                                                <tr>
                                                    <td style="padding-bottom:30px;padding-left:10px;padding-right:10px;padding-top:10px">
                                                        <div style="font-family:sans-serif">
                                                            <div style="font-size:14px;color:#000;line-height:1.2;font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif">
                                                                <p style="margin:0;font-size:14px"><span
                                                                        style="font-size:18px"><strong>Ваша ссылка для сброса пароля: {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %} &nbsp;</strong></span>

                                                                </p></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                        <tr>
                            <td>
                                <table class="m_8440171330031915403row-content m_8440171330031915403stack"
                                       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                       style="background-color:#fff;color:#000;width:640px" width="640">
                                    <tbody>
                                    <tr>
                                        <td class="m_8440171330031915403column" width="50%"
                                            style="font-weight:400;text-align:left;vertical-align:top;padding-left:30px;padding-right:30px;border-top:0;border-right:0;border-bottom:0;border-left:0">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                   role="presentation">
                                                <tbody>
                                                <tr>
                                                    <td style="padding-right:0;padding-bottom:5px;padding-left:0;padding-top:20px">
                                                        <div></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="m_8440171330031915403column" width="50%"
                                            style="font-weight:400;text-align:left;vertical-align:top;padding-left:30px;padding-right:30px;border-top:0;border-right:0;border-bottom:0;border-left:0">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                   role="presentation" style="word-break:break-word">
                                                <tbody>
                                                <tr>
                                                    <td style="padding-bottom:15px;padding-left:5px;padding-right:5px;padding-top:15px">
                                                        <div style="font-family:Arial,sans-serif">
                                                            <div style="font-size:14px;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;color:#000;line-height:1.2">
                                                                <p style="margin:0;text-align:left">Вы получили это
                                                                    письмо, так как вы отправили запрос на сброс
                                                                    пароля.</p>
                                                                <p style="margin:0">&nbsp;</p>
                                                                <p style="margin:0;text-align:left">Ваш логин от
                                                                    аккаунта: {{ user.username }}&nbsp;</p></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <table bgcolor="white" align="left" width="100%">
            <tbody>
            <tr>
                <td>
                    <span style="font-family:arial,helvetica,sans-serif;color:black;font-size:12px">
                        <table
                                align="center" border="0" cellpadding="0" cellspacing="0" width="100%" height="65"
                                style="width:100%;max-width:650px;height:65px">
	<tbody>
</tbody>
                </table>
                    <br>
                </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>














{#    <!doctype html>#}
{#    <html lang="en">#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <meta name="viewport"#}
{#              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#        <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#        <title>Сброс пароля</title>#}
{#    </head>#}
{#    <body>#}
{##}
{#    <b>Логин пользователя</b> - {{ user.email }}#}
{#    эмаил - {{ user.username }}#}
{##}
{#    {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}#}
{##}
{#    С уважением, команда Алексеевского собора#}
{##}
{#    </body>#}
{#    </html>#}
{##}

{% endautoescape %}