{% extends 'base.html' %}
{% block title %}
Регистрация
{% endblock %}
{% block body %}

            <form id="login" action="#" method="post">
                {% csrf_token %}
                <h5 class="h1-register" style="font-family: CyrillicOldBold">Регистрация</h5>
                <fieldset id="inputs">
                    {#        <input id="username" type="text" placeholder="Логин" autofocus required>#}
                    <div class="container">
                        <div class="row">
                            <input class="col-6" name="first_name" type="text" placeholder="Имя" required>
                            <input class="col-6" name="last_name" type="text" placeholder="Фамилия" required>
                            <input name="email" type="email" placeholder="Email">
                            <input name="username" id="username" type="text" placeholder="Логин" required>
                            <input name="password" type="password" placeholder="Пароль" required>
                            <input type="password" placeholder="Подтвердите пароль" required>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="actions" class="">
                    <input style="margin-left: calc(50% - 60px)" type="submit" id="submit_register" value="Регистрация">
                    {#            <a href="">Забыли пароль?</a><a href="{% url 'register' %}">Регистрация</a>#}
                </fieldset>
            </form>


{% endblock %}
