{% extends "sign_user/base.html" %}
{% load static %}

{% block title %}
    Изменение пароля
{% endblock %}
{% block body %}
    <div class="border">
        <form action="" class="form" method="post">
            {% csrf_token %}
{#            <h1 style="line-height: 40px; " class="form_title">Введите новый пароль</h1>#}
{#            <input placeholder="Введите пароль" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">#}
{#            <input placeholder="Повторите пароль" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">#}
{#            <div class="form_button">#}
{#                <button class="form_button-submit" type="submit">Сменить пароль</button>#}
{#            </div>#}
<h1 style="line-height: 40px; " class="form_title">Введите новый пароль</h1>
            <input placeholder="Введите пароль" type="password" name="new_password1" autocomplete="new-password"  id="id_new_password1">
                <label  for="password1" class="password-err1">Минимум 8 символов </label>
                <label  for="password1" class="password-err2">необходимо использовать хотябы 1 спецсимвол </label>
                <label  for="password1" class="password-err3">ваш пароль слишком прост</label>
            <input placeholder="Повторите парол" type="password" name="new_password2" autocomplete="new-password"  id="id_new_password2">
                <label for="_password2" class="password2">Пароли не совпадают</label>


            <div class="form_button">
                <button class="form_button-submit" type="submit">Сменить пароль</button>
            </div>



        </form>
    </div>

{% endblock %}