{% extends "sign_user/base.html" %}
{% load static %}

{% block title %}
    Password success
{% endblock %}
{% block body %}

    <div class="border">
        <form action="#" class="form">
            <h1 style="letter-spacing: 2px;" class="form_title">
                Пароль восстановлен
            </h1>
            <div class="text-help" style="text-align: center;">
                Смена пароля прошла успешно , теперь вы можете войти в свой аккаунт с новым паролем
            </div>
            <div class="form_button">
{#                <button class="form_button-submit" type="submit">Войти</button>#}
                <a class="form_button-submit" href="{% url "login" %}">Войти</a>

            </div>
        </form>
    </div>
{% endblock %}