{% extends "sign_user/base.html" %}
{% load static %}

{% block title %}
    reset password
{% endblock %}
{% block body %}


    <div class="border">
        <form action="" class="form" method="post">
            {% csrf_token %}
            <h1 style="line-height: 40px; " class="form_title">Введите новый пароль</h1>
            <input placeholder="Введите пароль" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
            <input placeholder="Повторите пароль" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
            <div class="form_button">
                <button class="form_button-submit" type="submit">Сменить пароль</button>
            </div>




        </form>
    </div>
{#    {{ form }}#}
{% endblock %}